<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Food Tracker</title>
        {{!-- <link rel="stylesheet" href="/css/tailwind.css">  --}}
    </head>

    <body>
        <header class = "bg-neutral-600">
            <nav class="flex items-center justify-between flex-wrap p-3">
                <div class="flex items-center flex-shrink-0 text-white mr-6">
                    <a class="font-semibold text-xl tracking-tight" href="/">The Food Tracker</a>
                </div>
                <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                    <ul class="text-xl lg:flex-grow">
                        {{#if loggedIn}}
                        <li><a href="/recipes">My Recipes</a></li>
                        <li><button id="logout" class="btn-no-style">logout</button></li>
                        {{else}}
                        <li><a href="/login">Login</a></li>
                        {{/if}}
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            {{{ body }}}
        </main>

        <footer class="bg-neutral-600 text-center">
            <span class="text-m text-white">
                © 2022 <a href="https://intelswift.com/" class="hover:underline">IntelSwift</a>. All Rights Reserved.
            </span>
        </footer>

        {{#if loggedIn}}
            <script src="../../public/javascript/logout.js"></script>
        {{/if}}

    </body>

</html>